<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BF3_Launcher_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BF3_Launcher_V2.Properties.Settings>
            <setting name="origin" serializeAs="String">
                <value>C:\Program Files (x86)\Origin\Origin.exe</value>
            </setting>
            <setting name="name" serializeAs="String">
                <value />
            </setting>
            <setting name="pass" serializeAs="String">
                <value />
            </setting>
            <setting name="autostart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoende" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autologin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="windowsize" serializeAs="String">
                <value>1169, 689</value>
            </setting>
            <setting name="windowsize_merken" serializeAs="String">
                <value>True</value>
            </setting>
        </BF3_Launcher_V2.Properties.Settings>
    </userSettings>
</configuration>